Sorterflows.json
[
    {
        "id": "a1a2a4bc.745dd8",
        "type": "tab",
        "label": "Sweet sorter dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4096f08e.eed83",
        "type": "ui_group",
        "name": "Home",
        "tab": "17e9aa96.1df805",
        "disp": true,
        "width": 16,
        "collapse": false
    },
    {
        "id": "17e9aa96.1df805",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d10f505.623e3c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#5c8af5",
                "baseFont": "Gill Sans,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#5c8af5",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a4bef9",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#5c8af5",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Gill Sans,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Sweet counter dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 72,
                "sy": 72,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2007caa7.9dc636",
        "type": "ui_group",
        "name": "Default",
        "tab": "ad0e1f68.c10fd",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ad0e1f68.c10fd",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "d8596899.c56458",
        "type": "ui_group",
        "name": "Default",
        "tab": "ae47cffa.963c78",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ae47cffa.963c78",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "ca2272c3.e8396",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "d9bf7560.df5e58",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "d9bf7560.df5e58",
        "type": "ui_tab",
        "name": "Test",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a8591f06.b5d3c",
        "type": "influxdb",
        "d": true,
        "hostname": "http://localhost:8086/a0d7b954-influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "homeassistant",
        "name": "homeassistant",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "5a4262b8.e0a62c",
        "type": "mqtt-broker",
        "name": "192.168.1.12:8123",
        "broker": "192.168.1.18:8123",
        "port": "1883",
        "clientid": "SorterUno",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "HELLO",
        "birthQos": "2",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c7fe8245.b0258",
        "type": "serial-port",
        "d": true,
        "serialport": "COM21",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "402b5588.8b8bcc",
        "type": "serial-port",
        "d": true,
        "serialport": "COM23",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "R",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "15",
        "bin": "false",
        "out": "count",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "938b645a.3424d8",
        "type": "serial-port",
        "serialport": "COM27",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "R",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "15",
        "bin": "false",
        "out": "count",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "b1c4e990.aa6da8",
        "type": "ui_link",
        "name": "Link 5",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 5
    },
    {
        "id": "c1e58974.e72138",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4096f08e.eed83",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d561e57.a0f3f2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4096f08e.eed83",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "9ec118e5.473208",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4096f08e.eed83",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "186f7758.d7e099",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4096f08e.eed83",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "f2d2b13.f6e2b5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4096f08e.eed83",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "6bc8a4f9.aa1d8c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4096f08e.eed83",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "da85fd7c.e5fbf",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4096f08e.eed83",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "a2174827.127b18",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4096f08e.eed83",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "f757271f.940518",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "4096f08e.eed83",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "269096a7.37894a",
        "type": "function",
        "z": "a1a2a4bc.745dd8",
        "name": "Just Red",
        "func": "let m = msg.payload\n\nlet red = m.substr(2, 3);\n\n\nreturn {payload:red};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "94d6dda.568e92",
                "fd5d10e9.64bf",
                "d51169c8.e21e38",
                "93f90d49.1d03d",
                "56cbe2ed.acf90c"
            ]
        ]
    },
    {
        "id": "87d9b347.cef57",
        "type": "function",
        "z": "a1a2a4bc.745dd8",
        "name": "Just Green",
        "func": "let m = msg.payload\n\nlet red = m.substr(1, 3);\nlet green = m.substr(6, 3);\nlet blue = m.substr(9, 3);\n\n\nreturn {payload:green};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 400,
        "wires": [
            [
                "67adb11e.dff69",
                "31103cd.7a271c4",
                "20f6670f.e86928",
                "2db97a17.fa12a6",
                "2f1b2cec.63fbd4"
            ]
        ]
    },
    {
        "id": "caa2a1dc.11ea8",
        "type": "function",
        "z": "a1a2a4bc.745dd8",
        "name": "Just Blue",
        "func": "let m = msg.payload\n\nlet red = m.substr(1, 3);\nlet green = m.substr(5, 3);\nlet blue = m.substr(10, 3);\n\nreturn {payload:blue};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 620,
        "wires": [
            [
                "6ae24a08.9a60f4",
                "f795d1a1.568a8",
                "ed44af56.87a69",
                "ea699036.347ca",
                "d407011d.3f917"
            ]
        ]
    },
    {
        "id": "94d6dda.568e92",
        "type": "debug",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 160,
        "wires": []
    },
    {
        "id": "67adb11e.dff69",
        "type": "debug",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "6ae24a08.9a60f4",
        "type": "debug",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 620,
        "wires": []
    },
    {
        "id": "fd5d10e9.64bf",
        "type": "ui_text",
        "z": "a1a2a4bc.745dd8",
        "group": "4096f08e.eed83",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Red",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "31103cd.7a271c4",
        "type": "ui_text",
        "z": "a1a2a4bc.745dd8",
        "group": "4096f08e.eed83",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Green",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "f795d1a1.568a8",
        "type": "ui_text",
        "z": "a1a2a4bc.745dd8",
        "group": "4096f08e.eed83",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Blue",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 890,
        "y": 660,
        "wires": []
    },
    {
        "id": "d51169c8.e21e38",
        "type": "ui_chart",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "group": "4096f08e.eed83",
        "order": 15,
        "width": 4,
        "height": 3,
        "label": "Red",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 890,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "20f6670f.e86928",
        "type": "ui_chart",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "group": "4096f08e.eed83",
        "order": 16,
        "width": 4,
        "height": 3,
        "label": "Green",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 890,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ed44af56.87a69",
        "type": "ui_chart",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "group": "4096f08e.eed83",
        "order": 17,
        "width": 4,
        "height": 3,
        "label": "Blue",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 890,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "93f90d49.1d03d",
        "type": "ui_gauge",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "group": "4096f08e.eed83",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Red",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#ff0011",
            "#ff0000",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "2db97a17.fa12a6",
        "type": "ui_gauge",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "group": "4096f08e.eed83",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Green",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "ea699036.347ca",
        "type": "ui_gauge",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "group": "4096f08e.eed83",
        "order": 8,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Blue",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000fa",
            "#0000fa",
            "#0000fa"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "8ee6d289.6043",
        "type": "ui_template",
        "z": "a1a2a4bc.745dd8",
        "group": "4096f08e.eed83",
        "name": "Live View",
        "order": 21,
        "width": 1,
        "height": 1,
        "format": "<div>\n    <a href=\"http://192.168.1.3:8081/\"><span>Live View</span></a>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 140,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6b07b663.94ddc8",
        "type": "debug",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "93a217c7.0058b8",
        "type": "ui_text",
        "z": "a1a2a4bc.745dd8",
        "group": "4096f08e.eed83",
        "order": 10,
        "width": 3,
        "height": 1,
        "name": "Machine State",
        "label": "Hopper ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 520,
        "y": 540,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "b8fe2bae.b980d8",
        "type": "debug",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "3a225ca4.e35314",
        "type": "ui_gauge",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "group": "4096f08e.eed83",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "Hopper Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#b30000",
            "#00e60f",
            "#3acb57"
        ],
        "seg1": "",
        "seg2": "",
        "x": 530,
        "y": 680,
        "wires": []
    },
    {
        "id": "179ad3cc.4b2c3c",
        "type": "function",
        "z": "a1a2a4bc.745dd8",
        "name": "State",
        "func": "let m = msg.payload\n\nlet state = m.substr(13, 1);\n\n\n\nreturn {payload: state};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 640,
        "wires": [
            [
                "3a225ca4.e35314",
                "3d33183d.a583a8"
            ]
        ]
    },
    {
        "id": "3d33183d.a583a8",
        "type": "debug",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "fa7e90ac.dd07d",
        "type": "function",
        "z": "a1a2a4bc.745dd8",
        "name": "State",
        "func": "let m = msg.payload\n\nlet state = m.substr(13, 1);\n\nif (state ==\"0\"){\n    msg.payload = \"empty\";\n}\n\nelse{\n    msg.payload = \"full\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "b8fe2bae.b980d8",
                "93a217c7.0058b8"
            ]
        ]
    },
    {
        "id": "56cbe2ed.acf90c",
        "type": "mqtt out",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "topic": "RED",
        "qos": "2",
        "retain": "true",
        "broker": "5a4262b8.e0a62c",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "aaa2ae99.6d4e7",
        "type": "ui_text",
        "z": "a1a2a4bc.745dd8",
        "group": "4096f08e.eed83",
        "order": 14,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Debug",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "ceaf2e7d.5c21c",
        "type": "serial in",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "serial": "938b645a.3424d8",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "6b07b663.94ddc8",
                "269096a7.37894a",
                "aaa2ae99.6d4e7",
                "87d9b347.cef57",
                "caa2a1dc.11ea8",
                "179ad3cc.4b2c3c",
                "fa7e90ac.dd07d",
                "40cdd2d5.a6472c",
                "456f4f2a.080a8"
            ]
        ]
    },
    {
        "id": "456f4f2a.080a8",
        "type": "file",
        "z": "a1a2a4bc.745dd8",
        "name": "Sweet sorter",
        "filename": "C:\\Users\\Workstation\\.node-red\\Sweet_Counter_Data.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 510,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "20f7f8db.fbb918",
        "type": "inject",
        "z": "a1a2a4bc.745dd8",
        "name": "Timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "456f4f2a.080a8"
            ]
        ]
    },
    {
        "id": "842d2c57.ccc85",
        "type": "ui_text",
        "z": "a1a2a4bc.745dd8",
        "group": "4096f08e.eed83",
        "order": 12,
        "width": 3,
        "height": 1,
        "name": "Machine State",
        "label": "Machine State",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 520,
        "y": 740,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "ae936175.1afff",
        "type": "debug",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 780,
        "wires": []
    },
    {
        "id": "40cdd2d5.a6472c",
        "type": "function",
        "z": "a1a2a4bc.745dd8",
        "name": "State",
        "func": "let m = msg.payload\n\nlet state = m.substr(14, 1);\nif (state ==\"1\"){\n    msg.payload = \"No Serial Connection\";\n}\nif (state ==\"1\"){\n    msg.payload = \"On + Empty\";\n}\nif (state ==\"2\"){\n    msg.payload = \"On + Full\";\n}\nif (state ==\"3\"){\n    msg.payload = \"Off + Empty\";\n}\nif (state ==\"4\"){\n    msg.payload = \"Off + Full\";\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 760,
        "wires": [
            [
                "ae936175.1afff",
                "842d2c57.ccc85"
            ]
        ]
    },
    {
        "id": "2f1b2cec.63fbd4",
        "type": "mqtt out",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "topic": "Green",
        "qos": "2",
        "retain": "true",
        "broker": "5a4262b8.e0a62c",
        "x": 890,
        "y": 560,
        "wires": []
    },
    {
        "id": "d407011d.3f917",
        "type": "mqtt out",
        "z": "a1a2a4bc.745dd8",
        "name": "",
        "topic": "Blue",
        "qos": "2",
        "retain": "true",
        "broker": "5a4262b8.e0a62c",
        "x": 890,
        "y": 780,
        "wires": []
    }
]
