Sorterflows.json
[{"id":"a1a2a4bc.745dd8","type":"tab","label":"Sweet sorter dashboard","disabled":false,"info":""},{"id":"269096a7.37894a","type":"function","z":"a1a2a4bc.745dd8","name":"Just Red","func":"let m = msg.payload\n\nlet red = m.substr(2, 3);\n\n\nreturn {payload:red};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":200,"wires":[["94d6dda.568e92","fd5d10e9.64bf","d51169c8.e21e38","93f90d49.1d03d","56cbe2ed.acf90c"]]},{"id":"87d9b347.cef57","type":"function","z":"a1a2a4bc.745dd8","name":"Just Green","func":"let m = msg.payload\n\nlet red = m.substr(1, 3);\nlet green = m.substr(6, 3);\nlet blue = m.substr(9, 3);\n\n\nreturn {payload:green};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":400,"wires":[["67adb11e.dff69","31103cd.7a271c4","20f6670f.e86928","2db97a17.fa12a6","2f1b2cec.63fbd4"]]},{"id":"caa2a1dc.11ea8","type":"function","z":"a1a2a4bc.745dd8","name":"Just Blue","func":"let m = msg.payload\n\nlet red = m.substr(1, 3);\nlet green = m.substr(5, 3);\nlet blue = m.substr(10, 3);\n\nreturn {payload:blue};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":620,"wires":[["6ae24a08.9a60f4","f795d1a1.568a8","ed44af56.87a69","ea699036.347ca","d407011d.3f917"]]},{"id":"94d6dda.568e92","type":"debug","z":"a1a2a4bc.745dd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":160,"wires":[]},{"id":"67adb11e.dff69","type":"debug","z":"a1a2a4bc.745dd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":400,"wires":[]},{"id":"6ae24a08.9a60f4","type":"debug","z":"a1a2a4bc.745dd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":620,"wires":[]},{"id":"fd5d10e9.64bf","type":"ui_text","z":"a1a2a4bc.745dd8","group":"4096f08e.eed83","order":2,"width":4,"height":1,"name":"","label":"Red","format":"{{msg.payload}}","layout":"row-center","x":890,"y":200,"wires":[]},{"id":"31103cd.7a271c4","type":"ui_text","z":"a1a2a4bc.745dd8","group":"4096f08e.eed83","order":3,"width":4,"height":1,"name":"","label":"Green","format":"{{msg.payload}}","layout":"row-center","x":890,"y":440,"wires":[]},{"id":"f795d1a1.568a8","type":"ui_text","z":"a1a2a4bc.745dd8","group":"4096f08e.eed83","order":4,"width":4,"height":1,"name":"","label":"Blue","format":"{{msg.payload}}","layout":"row-center","x":890,"y":660,"wires":[]},{"id":"d51169c8.e21e38","type":"ui_chart","z":"a1a2a4bc.745dd8","name":"","group":"4096f08e.eed83","order":15,"width":4,"height":3,"label":"Red","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":240,"wires":[[]]},{"id":"20f6670f.e86928","type":"ui_chart","z":"a1a2a4bc.745dd8","name":"","group":"4096f08e.eed83","order":16,"width":4,"height":3,"label":"Green","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":480,"wires":[[]]},{"id":"ed44af56.87a69","type":"ui_chart","z":"a1a2a4bc.745dd8","name":"","group":"4096f08e.eed83","order":17,"width":4,"height":3,"label":"Blue","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":700,"wires":[[]]},{"id":"93f90d49.1d03d","type":"ui_gauge","z":"a1a2a4bc.745dd8","name":"","group":"4096f08e.eed83","order":6,"width":4,"height":3,"gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#ff0011","#ff0000","#ff0000"],"seg1":"","seg2":"","x":890,"y":280,"wires":[]},{"id":"2db97a17.fa12a6","type":"ui_gauge","z":"a1a2a4bc.745dd8","name":"","group":"4096f08e.eed83","order":7,"width":4,"height":3,"gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#00b500","#ca3838"],"seg1":"","seg2":"","x":890,"y":520,"wires":[]},{"id":"ea699036.347ca","type":"ui_gauge","z":"a1a2a4bc.745dd8","name":"","group":"4096f08e.eed83","order":8,"width":4,"height":3,"gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#0000fa","#0000fa","#0000fa"],"seg1":"","seg2":"","x":890,"y":740,"wires":[]},{"id":"8ee6d289.6043","type":"ui_template","z":"a1a2a4bc.745dd8","group":"4096f08e.eed83","name":"Live View","order":21,"width":1,"height":1,"format":"<div>\n    <a href=\"http://192.168.1.3:8081/\"><span>Live View</span></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":140,"y":360,"wires":[[]]},{"id":"6b07b663.94ddc8","type":"debug","z":"a1a2a4bc.745dd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"93a217c7.0058b8","type":"ui_text","z":"a1a2a4bc.745dd8","group":"4096f08e.eed83","order":10,"width":3,"height":1,"name":"Machine State","label":"Hopper ","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":540,"wires":[],"icon":"node-red/alert.svg"},{"id":"b8fe2bae.b980d8","type":"debug","z":"a1a2a4bc.745dd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":510,"y":580,"wires":[]},{"id":"3a225ca4.e35314","type":"ui_gauge","z":"a1a2a4bc.745dd8","name":"","group":"4096f08e.eed83","order":1,"width":3,"height":2,"gtype":"donut","title":"Hopper Level","label":"units","format":"{{value}}","min":0,"max":"3","colors":["#b30000","#00e60f","#3acb57"],"seg1":"","seg2":"","x":530,"y":680,"wires":[]},{"id":"179ad3cc.4b2c3c","type":"function","z":"a1a2a4bc.745dd8","name":"State","func":"let m = msg.payload\n\nlet state = m.substr(13, 1);\n\n\n\nreturn {payload: state};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":640,"wires":[["3a225ca4.e35314","3d33183d.a583a8"]]},{"id":"3d33183d.a583a8","type":"debug","z":"a1a2a4bc.745dd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":640,"wires":[]},{"id":"fa7e90ac.dd07d","type":"function","z":"a1a2a4bc.745dd8","name":"State","func":"let m = msg.payload\n\nlet state = m.substr(13, 1);\n\nif (state ==\"0\"){\n    msg.payload = \"empty\";\n}\n\nelse{\n    msg.payload = \"full\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":560,"wires":[["b8fe2bae.b980d8","93a217c7.0058b8"]]},{"id":"56cbe2ed.acf90c","type":"mqtt out","z":"a1a2a4bc.745dd8","name":"","topic":"RED","qos":"2","retain":"true","broker":"5a4262b8.e0a62c","x":890,"y":320,"wires":[]},{"id":"aaa2ae99.6d4e7","type":"ui_text","z":"a1a2a4bc.745dd8","group":"4096f08e.eed83","order":14,"width":3,"height":1,"name":"","label":"Debug","format":"{{msg.payload}}","layout":"col-center","x":700,"y":260,"wires":[]},{"id":"ceaf2e7d.5c21c","type":"serial in","z":"a1a2a4bc.745dd8","name":"","serial":"938b645a.3424d8","x":190,"y":180,"wires":[["6b07b663.94ddc8","269096a7.37894a","aaa2ae99.6d4e7","87d9b347.cef57","caa2a1dc.11ea8","179ad3cc.4b2c3c","fa7e90ac.dd07d","40cdd2d5.a6472c","456f4f2a.080a8"]]},{"id":"456f4f2a.080a8","type":"file","z":"a1a2a4bc.745dd8","name":"Sweet sorter","filename":"C:\\Users\\Workstation\\.node-red\\Sweet_Counter_Data.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":510,"y":100,"wires":[[]]},{"id":"20f7f8db.fbb918","type":"inject","z":"a1a2a4bc.745dd8","name":"Timestamp","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":100,"wires":[["456f4f2a.080a8"]]},{"id":"842d2c57.ccc85","type":"ui_text","z":"a1a2a4bc.745dd8","group":"4096f08e.eed83","order":12,"width":3,"height":1,"name":"Machine State","label":"Machine State","format":"{{msg.payload}}","layout":"col-center","x":520,"y":740,"wires":[],"icon":"node-red/alert.svg"},{"id":"ae936175.1afff","type":"debug","z":"a1a2a4bc.745dd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":510,"y":780,"wires":[]},{"id":"40cdd2d5.a6472c","type":"function","z":"a1a2a4bc.745dd8","name":"State","func":"let m = msg.payload\n\nlet state = m.substr(14, 1);\nif (state ==\"1\"){\n    msg.payload = \"No Serial Connection\";\n}\nif (state ==\"1\"){\n    msg.payload = \"On + Empty\";\n}\nif (state ==\"2\"){\n    msg.payload = \"On + Full\";\n}\nif (state ==\"3\"){\n    msg.payload = \"Off + Empty\";\n}\nif (state ==\"4\"){\n    msg.payload = \"Off + Full\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":760,"wires":[["ae936175.1afff","842d2c57.ccc85"]]},{"id":"2f1b2cec.63fbd4","type":"mqtt out","z":"a1a2a4bc.745dd8","name":"","topic":"Green","qos":"2","retain":"true","broker":"5a4262b8.e0a62c","x":890,"y":560,"wires":[]},{"id":"d407011d.3f917","type":"mqtt out","z":"a1a2a4bc.745dd8","name":"","topic":"Blue","qos":"2","retain":"true","broker":"5a4262b8.e0a62c","x":890,"y":780,"wires":[]},{"id":"4096f08e.eed83","type":"ui_group","name":"Home","tab":"17e9aa96.1df805","disp":true,"width":16,"collapse":false},{"id":"5a4262b8.e0a62c","type":"mqtt-broker","name":"192.168.1.12:8123","broker":"192.168.1.18:8123","port":"1883","clientid":"SorterUno","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"HELLO","birthQos":"2","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"938b645a.3424d8","type":"serial-port","serialport":"COM27","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"R","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"15","bin":"false","out":"count","addchar":"","responsetimeout":"10000"},{"id":"17e9aa96.1df805","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]